{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RideNGo</title>
    <link rel="icon" href="{% static 'media/Logo.jpeg' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    {% endblock style %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    {% comment %} <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {% block script %}
    {% endblock script %}
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'media/Logo.jpeg' %}" alt="RideNGo Logo">
            <h1><i>RideNGo</i></h1>
        </div>

        <nav>
            <ul>
                <li><a href="#" onclick="window.location.replace('/');">Home</a></li>
                <li><a href="{% url 'home' %}#about">About</a></li>
                <li><a href="{% url 'pictures' %}">Pictures</a></li>
                <li><a href="{% url "home" %}#footer">Contact Us</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard_home' %}">Dashboard</a></li>
                {% endif %}
            </ul>
        </nav>

        {% if user.is_authenticated %}
            <button class="logout" onclick="window.location.href='{% url 'logout' %}'" style="background: red; color: #fff;">Log-out</button>
        {% else %}
            {% block header-buttons %} 
            {% endblock header-buttons %}
        {% endif %}
    </header>

    <div class="page-wrapper">
        {% block main-content %}
        {% endblock main-content %}

        {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
                <div class="toast-message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block footer %}
        {% endblock footer %}
    </div>  
</body>
<script>
    setTimeout(() => {
        document.querySelectorAll('.toast-message').forEach(t => t.remove());
    }, 4000);
</script>
</html>
